.box{

    height: 500px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.item{
    width: 30%;
    height: 200px;
    margin: 20px;
    background-color: beige;
}

.item_3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}