/* *universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  padding takes actually from the box */
}

a{
    text-decoration: none;/*  underline erase */
}

.container{
    width:1120px;
    margin: auto;
}

#navbar{
    background-color: rgb(171, 228, 133);
    padding: 20px;
}
#navbar .logo a img
{
    width: 60px;
    height: 60px;
}
.navigration{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .menu ul{
    list-style: none;
    display: flex;
}

#navbar .menu ul li{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

#navbar .menu ul li a{
    color: brown;
}

#navbar .menu ul li a:hover{
    color: red;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}
.btn_position{
    position: fixed;
    top: 20%;
    left: 0;
}
.btn
{
    padding: 10px;
    background-color: rgb(123, 236, 170);
    border-radius: 10px;
}

.divMain{
    width: 400px;
    height: 400px;
    background-color: brown;
    position: relative;
}
.divItem{
    width: 100px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 20px;
    left: 200px;
    

}

.square
{
    width: 400px;
    height: 200px;
    margin: auto;
    background-color: green;
    position: relative;

}
.circle
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.bar
{
    width: 30px;
    height: 400px;
    background-color: black;
    position: absolute;
    left: -30px;
}

.image
{
    margin-top: 50px;
    height: 300px;
    width: 200px;
    background-color: aqua;
    margin: auto;
    position: relative;
}
.image h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}